@* Pantalla de Confirmacion de la Cuenta *@

@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Cuenta Activada";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
