@page
@model ErrorModel
@{
    ViewData["Title"] = "404 Error";
}

<div class="row">
    <div class="col-12 col-md-6 offset-3 mx-auto">
        <img style="max-width: 60%;" class="rounded mx-auto d-block img-fluid" src="https://static.vecteezy.com/system/resources/previews/006/549/647/original/404-landing-page-free-vector.jpg" />

        <h3 class="text-dark mt-5 text-center mb-3">
            Lo sentimos, en el sistema no se encuentra lo que esta buscando :(
        </h3>

        <a asp-page="/Tasks/Index" class="btn text-white bg-success mx-auto mt-5 btn-lg" style="display: flex; justify-content: center; align-items: center">
            <i class="fa-solid fa-house" style="margin-right: 10px;"></i> Ir a Página Principal
        </a>
    </div>
</div>